<template>
  <div class="home">
    <button @click="reduce()">reduce</button>
  </div>
  <div>{{shuffled}}</div>
</template>
<script>
export default {
  methods:{
    reduce(){
      if(this.$store.getters.account>=3){
        this.$store.dispatch('reduceCount')
      }else{
        alert("bigger than 3")
      }
    }
  },
  computed:{
    shuffled(){
      return this.$store.getters.shuffled
    },
  }
}
</script>