<template>
  <div class="home">
    <button @click="add()">add</button>
  </div>
</template>

<script>
// @ is an alias to /src

export default {
  name: 'HomeView',
  components: {
    
  },
  methods:{
    add(){
      this.$store.dispatch('addCount')
    }
  }
}
</script>
